In [ ]:
print(1+2)

3

In [ ]:
age = 18 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    # 成年の場合
    print("お酒で乾杯！")

SyntaxError: incomplete input (ipython-input-1436286198.py, line 4)

In [ ]:
print('こんにちは')
print("今日はいい天気ですね")

こんにちは
今日はいい天気ですね

In [ ]:
print(True)
print(False)

True
False

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)
print(type(30 / 3))

63
18
90
10.0
5
<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
上辺：10cm
下辺：20cm
高さ：5cm

公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2

SyntaxError: invalid character '：' (U+FF1A) (ipython-input-486463446.py, line 1)

In [ ]:
# 台形の寸法
upper_base = 10  # 上辺（cm）
lower_base = 20  # 下辺（cm）
height = 5       # 高さ（cm）

# 台形の面積公式：（上辺 + 下辺） × 高さ ÷ 2
area = (upper_base + lower_base) * height / 2

print(f"台形の面積は {area} cm² です。")

台形の面積は 75.0 cm² です。

In [1]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素を更新する
user_names[1] = "侍花子"

# 2番目の要素を表示する
print(user_names[1])

侍花子

In [2]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

120

In [3]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [4]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [6]:
array = {0:"月曜日は晴れです"，1:"火曜日は雨です"，2:"水曜日は晴れです"，3:"木曜日は晴れです"，4："金曜日は曇りです"，5:"土曜日は曇りのち雨です"，6:“日曜日は雷雨です"}

stationery_weather=｛"mom": 晴れ, "tue": 雨, "wed": 晴れ, "thu"晴れ，"fri": 曇り, "sat": 曇りのち雨, "sun": 雷雨｝

SyntaxError: invalid character '，' (U+FF0C) (ipython-input-3912212725.py, line 1)

In [7]:
# リスト（array）の作成
array = [
    "月曜日は晴れです",
    "火曜日は雨です",
    "水曜日は晴れです",
    "木曜日は晴れです",
    "金曜日は曇りです",
    "土曜日は曇りのち雨です",
    "日曜日は雷雨です"
]

# ディクショナリの作成
dictionary = {
    "mon": "晴れ",
    "tue": "雨",
    "wed": "晴れ",
    "thu": "晴れ",
    "fri": "曇り",
    "sat": "曇りのち雨",
    "sun": "雷雨"
}

# 水曜日の天気予報を取り出して出力
print(array[2])          # リストから取り出す
print(dictionary["wed"]) # ディクショナリから取り出す

水曜日は晴れです
晴れ

In [8]:
# 変数 var を任意の正の整数に設定
var = 15

# 条件分岐
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

FizzBuzz