In [26]:
print(1+2)

3

In [27]:
age = 18 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [28]:
print('こんにちは')
print("今日はいい天気ですね")

こんにちは
今日はいい天気ですね

In [29]:
print(True)
print(False)

True
False

In [30]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)
print(type(30 / 3))

63
18
90
10.0
5
<class 'float'>

In [31]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [32]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [33]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [34]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [35]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [36]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [37]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [38]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [39]:
上辺：10cm
下辺：20cm
高さ：5cm

公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2

SyntaxError: invalid character '：' (U+FF1A) (ipython-input-486463446.py, line 1)

In [ ]:
# 台形の寸法
upper_base = 10  # 上辺（cm）
lower_base = 20  # 下辺（cm）
height = 5       # 高さ（cm）

# 台形の面積公式：（上辺 + 下辺） × 高さ ÷ 2
area = (upper_base + lower_base) * height / 2

print(f"台形の面積は {area} cm² です。")

In [ ]:
pip install Django

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素を更新する
user_names[1] = "侍花子"

# 2番目の要素を表示する
print(user_names[1])

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

In [ ]:
array = {0:"月曜日は晴れです"，1:"火曜日は雨です"，2:"水曜日は晴れです"，3:"木曜日は晴れです"，4："金曜日は曇りです"，5:"土曜日は曇りのち雨です"，6:“日曜日は雷雨です"}

stationery_weather=｛"mom": 晴れ, "tue": 雨, "wed": 晴れ, "thu"晴れ，"fri": 曇り, "sat": 曇りのち雨, "sun": 雷雨｝

In [ ]:
# リスト（array）の作成
array = [
    "月曜日は晴れです",
    "火曜日は雨です",
    "水曜日は晴れです",
    "木曜日は晴れです",
    "金曜日は曇りです",
    "土曜日は曇りのち雨です",
    "日曜日は雷雨です"
]

# ディクショナリの作成
dictionary = {
    "mon": "晴れ",
    "tue": "雨",
    "wed": "晴れ",
    "thu": "晴れ",
    "fri": "曇り",
    "sat": "曇りのち雨",
    "sun": "雷雨"
}

# 水曜日の天気予報を取り出して出力
print(array[2])          # リストから取り出す
print(dictionary["wed"]) # ディクショナリから取り出す

In [ ]:
# 変数 var を任意の正の整数に設定
var = 15

# 条件分岐
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

In [ ]:
for i in range(1,11):
 print(i)

In [ ]:
for i in range(1,11):
   print(i)
 #ループ変数の値が５であれば、break文で繰り返し処理を強制終了する
   if i == 5:
     break

In [ ]:
import random

while True:
    num = random.randint(1, 20)
    print(num)
    if num == 20:
        print("20が出たので終了します！")
        break

In [ ]:
import random

num = random.randint(0, 4)  # まず最初にランダム代入

while num != 0:
    print(num)
    num = random.randint(0, 4)  # 繰り返し新しいランダム値を代入

In [ ]:
import random

total = 0  # 合計値を入れる変数（sumは組み込み関数なので別名にした方が安全）

while total < 20:
    num = random.randint(1, 10)  # 1〜10のランダム整数
    print(f"num = {num}")  # 今回の乱数を表示

    if num % 2 == 0:
        continue  # 偶数なら加算せずスキップ

    total += num  # 奇数なら合計に加算
    print(f"合計 = {total}")

print("合計が20以上になったので終了します！")

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]

# 2周するように range(2) を指定
for i in range(2):
    for elem in array:
        print(elem)

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]

count = 0
while count < 2:  # 2周する
    index = 0
    while index < len(array):
        print(array[index])
        index += 1
    count += 1

In [ ]:
#朝の挨拶をする関数
def say_good_morning():
 print("おはよ!")
 print("昨日は眠れた？")
 print("今日も頑張ろうな！")

#朝の挨拶関数を呼び出す
say_good_morning()

In [ ]:
#与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
def calculate_total(price):
 #与えられた引数priceに送料を加算し、変数totalに代入する
 total=price+500

 #変数totalの値を出力する
 print(f"{total}円")

#関数を呼び出し、引数として購入金額を渡す
calculate_total(1200)

In [ ]:
def add_two_arguments(price, shipping_fee):
    # 与えられた引数priceと引数shipping_feeを加算し、変数totalに代入する
    total = price + shipping_fee

    # 変数$totalの値を出力する
    print(f"{total}円")

In [ ]:
def add_two_arguments(price, shipping_fee):
    # 与えられた引数priceと引数shipping_feeを加算し、変数totalに代入する
    total = price + shipping_fee

    # 変数$totalの値を出力する
    print(f"{total}円")

# 関数を呼び出し、引数として購入金額と送料を渡す
add_two_arguments(1200, 500)

In [ ]:
# ユーザー名を引数にとり、あいさつ文を返す関数
def greet_user(user_name: str) -> str:
    # 引数が空文字の場合
    if user_name == "":
        return "こんにちは、ゲストさん！"
    else:
        return f"こんにちは、{user_name}さん！"


# テスト
print(greet_user("岡迫"))   # → こんにちは、岡迫さん！
print(greet_user(""))       # → こんにちは、ゲストさん！

In [ ]:
# 商品購入時の消費税を計算する関数
def calculate_total(price: float, tax_rate: float) -> float:
    """
    price: 商品の金額
    tax_rate: 消費税率（%）
    return: 消費税込みの合計金額
    """
    # 消費税率を計算（例：10% → 0.10）
    tax = price * (tax_rate / 100)
    total = price + tax
    return total


# 関数の呼び出し（第1引数: 商品の金額 110, 第2引数: 消費税率 10）
result = calculate_total(110, 10)

# 計算結果を出力
print(f"消費税込みの金額: {result}")

In [ ]:
def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

In [ ]:
def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

# ローカルスコープの範囲外でローカル変数を使う（エラーが発生する）
print(user_name)

In [40]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

In [41]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"
    # user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    # グローバルスコープの範囲外でグローバル変数を使う（エラーが発生しない）
    print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

In [42]:
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return (price1 + price2) * tax

print(total())

330.0

In [43]:
class Product:
    def __init__(self):
        # 属性を定義する
        self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を出力する
print(shampoo.name)

シャンプー

In [44]:
class Product:
    def __init__(self):
        self.name = ""

    # メソッドを定義する
    def set_name(self, name):
        self.name = name

shampoo = Product()

# メソッドにアクセスして実行する
shampoo.set_name("シャンプー")

In [45]:
class Product:
    def __init__(self):
        self.name = ""

    # メソッドを定義する
    def set_name(self, name):
        self.name = name

    def show_name(self):
        print(self.name)

# インスタンス化する
coffee = Product()

# メソッドにアクセスして実行する
coffee.set_name("コーヒー")
coffee.show_name()

コーヒー

In [46]:
class Product:
    def __init__(self):
        # 属性を定義する
        self.name = ""

In [47]:
class User:
    # コンストラクタを定義する
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

# インスタンス化する
user = User("侍太郎", 36, "男性")

# 属性にアクセスし、値を出力する
print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

In [48]:
from datetime import date

class Event:
    def __init__(self, name: str, date_: date, location: str):
        # 属性を初期化
        self.name = name
        self.date = date_
        self.location = location

    def days_until(self) -> int:
        """開催日までの日数を返す"""
        today = date.today()
        delta = self.date - today
        return delta.days


# インスタンス作成
event = Event(
    "プログラミング初心者向けセミナー",
    date(2025, 10, 1),
    "東京国際フォーラム"
)

# 各属性にアクセスして出力
print("イベント名:", event.name)
print("開催日:", event.date)
print("開催場所:", event.location)

# 開催日までの日数を出力
print("開催日までの日数:", event.days_until(), "日")

イベント名: プログラミング初心者向けセミナー
開催日: 2025-10-01
開催場所: 東京国際フォーラム
開催日までの日数: 38 日

In [49]:
class Human:
    def __init__(self, name: str, age: int):
        # 属性を初期化
        self.name = name
        self.age = age

    def printinfo(self):
        # 名前と年齢を出力
        print(f"名前: {self.name}, 年齢: {self.age}")


# インスタンスを作成して変数に代入
person = Human("侍太郎", 29)

# メソッド呼び出し
person.printinfo()

名前: 侍太郎, 年齢: 29

In [50]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2025年08月24日11時03分06秒

In [51]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Sun Aug 24 08:03:06 PM JST 2025

In [52]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2025年08月24日11時03分31秒

In [53]:
# timeモジュールをインポート
import time

# 現在時刻をUNIXタイムスタンプで取得
print(time.time())

1756033538.784461

In [54]:
# datetimeモジュールをインポート
import datetime

# 現在の日時を取得する
now = datetime.datetime.now()

# 指定した日付を取得する
date = datetime.datetime.strptime("2015-03-19", "%Y-%m-%d")

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

In [55]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2015年03月19日12時15分30秒

In [56]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [57]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2025-11-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は-88日です。

In [58]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2026年08月24日11時09分48秒です。
現在から3日前は2025年08月21日11時09分48秒です。

In [59]:
pip install Django

Collecting Django
  Downloading django-5.2.5-py3-none-any.whl.metadata (4.1 kB)
Collecting asgiref>=3.8.1 (from Django)
  Downloading asgiref-3.9.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.12/dist-packages (from Django) (0.5.3)
Downloading django-5.2.5-py3-none-any.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 50.2 MB/s eta 0:00:00
Downloading asgiref-3.9.1-py3-none-any.whl (23 kB)
Installing collected packages: asgiref, Django
Successfully installed Django-5.2.5 asgiref-3.9.1

In [60]:
class Human:
    def __init__(self, name: str, age: int):
        # 属性を初期化
        self.name = name
        self.age = age

    def check_adult(self):
        # 年齢によって大人かどうかを出力
        if self.age >= 20:
            print(f"{self.name} さんは大人です。")
        else:
            print(f"{self.name} さんは大人ではありません。")


# 複数のインスタンスを生成してリストに追加
humans = [
    Human("侍太郎", 29),
    Human("花子", 18),
    Human("次郎", 20)
]

# リストの要素数分だけ check_adult メソッドを呼び出し
for person in humans:
    person.check_adult()

侍太郎 さんは大人です。
花子 さんは大人ではありません。
次郎 さんは大人です。